:root{
    --p1: #660000;
    --p2: #990033;
    --back: #0C120C;
    --again: #DB1E5B;
    --text: #BCD2EE;
}

.boardBody {
    text-align: center;
}

.coin{
    width: 60px;
    height: 60px;
    background: var(--p1); 
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
}

.turn{
    background: var(--again);
    color: var(--back);
    height: 50px;
    width: 500px;
    border-radius: 30%;
    display: inline-block;
}

.board{ /*game board*/
    height: 50vh;
    width: 75%; 
    background: var(--back);
    border-radius: 10%;
    display: inline-block;
}
table{
    border-spacing: 5px;
    height: 48vh;
    width: inherit;
    display: inline-block;
    margin: 5px;
}
tbody {
    display: inline-block;
    width: 100%;
    height:inherit;
    background: var(--text);
}
td {
    background: var(--back);
    border: black;
    border-width: 70px;
    height: 50px;
    width: 50px;
}

button{ /* reset button*/
    background: var(--again);
    color: var(--back);
    height: 50px;
    width: 500px;
    border-radius: 30%;
    display: inline-block;
}