:root{
    --p1: #660000;
    --p2: #990033;
    --back: #0C120C;
    --again: #DB1E5B;
    --text: #BCD2EE;
}

.boardBody {
    text-align: center;
}

.coin{
    width: 60px;
    height: 60px;
    background: var(--p1); 
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    animation-name: spinning;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 2.5s;
}

.turn{
    background: var(--again);
    color: var(--back);
    height: 50px;
    width: 500px;
    border-radius: 30%;
    display: inline-block;
}

.board{ /*game board*/
    height: 400px;
    width: 420px; 
    background: var(--back);
    border-radius: 10%;
    display: inline-block;
}
table{
    border-spacing: 5px;
    height: 340px;
    width: 405px;
    display: inline-block;
    margin: 5px;
    padding-top: 30px;
}
tbody {
    display: inline-block;
    width: 100%;
    height:inherit;
    background: var(--text);

}
td {
    background: var(--text);
    border-width: 70px;
    height: 50px;
    width: 50px;
}
.slot{
    width: inherit;
    height: inherit;
    border-color: var(--text);
    border-radius: 50%;
    background: var(--back);
}

.reset{ /* reset button*/
    background: var(--again);
    color: var(--back);
    height: 50px;
    width: 500px;
    border-radius: 30%;
    display: inline-block;
}

@keyframes spinning {
    0% {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    50% {
      transform: rotate3d(0, 1, 0, 180deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }
  